<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andremion.heroes">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!--Home-->
        <activity android:name=".ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Character-->
        <activity
            android:name=".ui.character.CharacterActivity"
            android:parentActivityName=".ui.home.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.MainActivity" />
        </activity>

        <!--Section-->
        <activity
            android:name=".ui.section.SectionActivity"
            android:parentActivityName=".ui.home.MainActivity"
            android:theme="@style/AppTheme.Translucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.MainActivity" />
        </activity>

        <!--Search-->
        <activity
            android:name=".ui.search.SearchActivity"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".ui.home.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.MainActivity" />
        </activity>

        <!--Data-->
        <provider
            android:name=".data.DataProvider"
            android:authorities="@string/data_provider_authority"
            android:enabled="true"
            android:exported="false" />

        <!-- Sync -->
        <service android:name=".sync.auth.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service android:name=".sync.service.SyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

    </application>

</manifest>
